<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body dataTable_wrapper">
				<table class="table table-striped table-hover" id="tabela"></table>
			</div>
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";
	var tabela = prepareDataTable("tabela", {
		order: [[10, "asc"], [11, "asc"], [1, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return "<a title=\"Editar\" href=\"<%- root %>/consultoria/alterar?id=" + row.id + "\" class=\"btn btn-outline btn-primary\"><i class=\"fa fa-nomargin fa-edit\"></i></a> <button title=\"Excluir\" type=\"button\" data-excluir=\"1\" class=\"btn btn-outline btn-danger\"><i class=\"fa fa-nomargin fa-times\"></i></button>"; } },
            { title: "Organização", "class": "col-min", render: encode, data: "organizacao" },
            { title: "Causas", "class": "col-min", render: encode, data: "causas" },
			{ title: "Orientador", "class": "col-min", render: encode, data: "orientador" },
            { title: "Gestor", "class": "col-min", render: encode, data: "gestor" },
            { title: "Consultor 1", "class": "col-min", render: encode, data: "consultor" },
            { title: "Consultor 2", "class": "col-min", render: encode, data: "consultor2" },
            { title: "Consultor 3", "class": "col-min", render: encode, data: "consultor3" },
            { title: "Consultor 4", "class": "col-min", render: encode, data: "consultor4" },
            { title: "Observações", "class": "col-min", render: encode, data: "categoria" },
            { title: "Ano", "class": "col-min", "type": "number", data: "ano" },
            { title: "Semestre", "class": "col-min", "type": "number", data: "semestre" },
			{ title: "Criação", "class": "col-min", "type": "customdateint", data: "criacao" }
		],
		data: <%- lista %>,
		export: { title: "Consultorias" }
	});

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		var trClicada = this.parentNode.parentNode,
			consultoria = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Notification.okcancel("Tem certeza que deseja excluir a consultoria da organização " + consultoria.organizacao + "? Esta operação NÃO pode ser desfeita!", null, true, "Excluir").then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					Notification.wait();

					JsonWebApi.get("<%- root %>/api/consultoria/excluir/" + consultoria.id, function (response) {
						if (response.success) {
							Notification.success("Consultoria excluída com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Notification.error(response.value + " " + emoji.sad, true);
						}
						trClicada = null;
					});
				}
			});
		}
	});

	//]]>
</script>
