<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Título da Página</title>
	
	<!-- Bootstrap 3 -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
	<style type="text/css">
		
		
		.barra-superior img {
			float: left;
			width:300px;
			padding-left: 40px;
			padding-top: 65px;
			
		}
		
		.barra-links {
			list-style: none;
			padding left: 19px;
			padding-top: 50px;
			font-size: 20px;
			font-family: Quicksand;
			
		}
		
		.barra-links > li {
			display: inline-block;
			margin: 50px;
			padding: 0px;
		}
		
		
		.barra-links > li > a { 
			display: inline-block;
			padding: 15px 25px 0px 25px;
			color: #586368
			

			
		}
		
		.barra-submenu {
			display: none;
			position: absolute;
			background-color: #A2A6A8;
			list-style: none;
			margin: 0px 0px 0px 25px;
			padding: 10px 10px 0px 20px;
			width: 290px;
			height: 240px;
			color: white;
		
			
		}
			.barra-submenu > li > a {
			
			color: white;
		
			
		}
		.barra-submenu:link{
			text-decoration: none;
			color: solid white;
			
		}
		
		.barra-links > li:hover > .barra-submenu {
			display: block;
		}
		.beneficios{
			color: #00ace3;
			text-align: center;
			font-family: Quicksand;
			font-size: 50px;
			font-weight: 700;
		}
		.fundos{
			background: #00ace3;
			width: 1100px;
			height: 600px;
			margin: 0 auto;
			margin-bottom: 50px;
		}


		    
			
		}
	</style>
</head>
<body>
	<!--- barradecima-->
	<div class="barra-superior">
		<img src="imagens/espmsocial1.png" />
		<ul class="barra-links">
			<li>
				<a href="..."  class= estilo>MENU</a>
				<ul class="barra-submenu">
					<li><a href="..." > <b>BENEFÍCIOS</b> </a> </li>
					<li>Alimentação</li>
					<li>Bem-Estar</li>
					<li>Diversos</li>
					<br>
					<li><b>MEMBROS</b></li>
					<li>Ativos</li>
					<li>Alumni</li>
				</ul>
			</li>
			<li><a href="...">ORGANIZAÇÕES</a>
			<ul class="barra-submenu">
					<li><b>teste</b></li>
					
				</ul>
			</li>
			
			<li><a href="...">CARTERINHA DIGITAL</a>
			<ul class="barra-submenu">
					<li><b>teste</b></li>
					
				</ul>
			</li>
			<!-- <li><a href="...">CONFIGURAÇÕES</a>
			<ul class="barra-submenu">
					<li><b>teste</b></li>
					
				</ul>
			</li> -->
		</ul>
	</div>
	<!--- barradecima-->
	<!--- beneficios -->
	<h1 class=beneficios>
	 BENEFÍCIOS 
	</h1>
	<br>
	<br>
	<!--- beneficios -->
	<!---fundo-->
	<div class = "fundos">
		<p> </p>
	</div>
</body>
</html>