<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Bootstrap 3 -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Bootstrap 4 -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- Font Awesome 4.7 -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

	<title>Título da Página</title>
	
	<style type="text/css">
.centralizar{
	text-align: center;
}	
.imagemmargem{
	margin: 50px 0 0;
	padding: 50px;
}
.input{
   width: 390px; 
   height: 40px;
   padding: 8px 10px;
   margin: 10px;
   border: 2.5px solid #00ace3;
   caret-color: #00ace3;
   font-size: 18px;
   font-family: Quicksand;
   
}
input::placeholder{
	font-size: 18px;
	opacity: 0.5;
	font-family: Quicksand;
}
input:focus{
	font-size: 18px;
	padding: 8px 10px;
	width: 390px; 
    height: 40px;
    outline: none;
    font-family: Quicksand;
}

.cinput{
   width: 240px; 
   height: 40px;
   margin: 30px;
   border: 2.5px solid #00ace3;
   font-size: 22px;
   color: white;
   background-color:#00ace3;
   font-weight: bold;
   letter-spacing: 1px;
   font-family: Quicksand;
   
}
.cinput:focus{
   width: 240px; 
   height: 40px;
   padding: 0;
   margin: 30px;
   font-size: 22.4px;
   color: white;
   background-color:#00ace3;
   font-weight: bold;
   letter-spacing: 1px;
   outline: none;
   font-family: Quicksand;
   
   
}
		
	</style>
</head>
<body>
<!-- imagem-->
<div class= "centralizar">
<div class= "imagemmargem">
<img width="420" src = "imagens/espmsocial1.png">
</div>
</div>
<!--imagem-->
<!--matricula-->
<div class = "centralizar">
<input type="text" class="input" placeholder="Matrícula (RA)">
</div>
<!--matricula-->
<!--email-->
<div class = "centralizar">
<input type="text" class="input" placeholder="Email">
</div>
<!--email-->
<!--senha-->
<div class = "centralizar">
    <input type="text" class="input" placeholder="Senha">
    </div>
<!--senha-->
<!--rptsenha-->
<div class = "centralizar">
    <input type="text" class="input" placeholder="Repita sua senha">
    </div>
<!--rptsenha-->
<!--botãocadastro-->
<div class = "centralizar">
	<input type="button"  class="cinput" value ="CADASTRAR-SE">
	</div>
<!--botãocadastro-->
</body>
</html>