<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Título da Página</title>

	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>

	<body>

	<h1 class=beneficios>
	 Carteirinha Digital
	</h1>

	<div class = "fundos">
		<h1 class=nomeesobrenome> MEMBRO </h1>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
							
						<div id="qrcode"></div>						
					</div>
				</div>
			</div>
		</div>

		<h2 class=validade> Validade </h2>
	</div>

</body>
	
	<%- contentFor("styles") %>
	<style type="text/css">
		#qrcode > img {
			display: block;
			margin: 30px auto 30px;
			width: 250px;
		}
	
			

		.beneficios{
			color: #00ace3;
			text-align: center;
			font-family: Quicksand;
			font-size: 50px;
			font-weight: 700;
		}
		.fundos{
			background: #00ace3;
			width: 600px;
			height: 500px;
			margin: 0 auto;
			margin-bottom: 50px;
		}
	
		.nomeesobrenome{
			text-align: center;
			color: white;
			font-family: Quicksand;
			padding: 20px 0px 0px 0px;
		}
		.validade{
			text-align: center;
			color: white;
			font-family: Quicksand;
			font-style: italic;
			padding 0px 0px 0px 0px;
		}

	
	</style>

	<%- contentFor("scripts") %>
	<!--
		qrcode.js
		https://github.com/davidshimjs/qrcodejs
	-->
	<script type="text/javascript" src="<%- root %>/lib/qrcodejs/js/qrcode-1.0.0.min.js"></script>
	<script type="text/javascript">
		//<![CDATA[
		"use strict";
	
		new QRCode("qrcode", {
			text: location.href + "/<%- usuario.id %>",
			width: 500,
			height: 500,
			colorDark: "#000000",
			colorLight: "#ffffff",
			correctLevel: QRCode.CorrectLevel.H
		});
	
		$("#qrcode").attr("title", "");
	
		//]]>
	</script>