<div class="painel-msg">
	<div class="panel panel-default no-margin-bottom">
		<div class="panel-body">
			<% if (!usuario) { %>
				<h1>Membro inexistente 😥</h1>
			<% } else if (!usuario.ativo) { %>
				<h1>Membro inativo 😥</h1>
			<% } else { %>
				<h1><%= usuario.nome %></h1>
				<div class="text-center">
					<img style="border: 0; border-radius: 999px; margin: 0; max-width: 100%;" width="300" alt="Imagem de Perfil" src="<%- root %>/imagens/<%-(usuario.versao ? ('perfil/' + usuario.id + '.jpg?' + usuario.versao) : 'user.png') %>" />
				</div>
			<% } %>
		</div>
	</div>
</div>
