<head><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script></head>
    <div class="cabecalho">
        <div class="container-fluid conteudo-interno">
            <div class="row">
                <div class="col-sm-2">
                    <img src="Imagens/LogoEspmSocial.png" height="50" width="50">
                </div>
                <div class="col-sm-2">
                    <a class="link-cabecalho">SOU EMPRESA</a>
                </div>
                <div class="col-sm-2">
                    <a class="link-cabecalho">SOU ONG</a>
                </div>
                <div class="col-sm-2">
                    <a class="link-cabecalho">SOU ALUNO</a>
                </div>
                <div class="col-sm-2">
                    <a class="link-cabecalho">BLOG</a>
                </div>
                <div class="col-sm-2">
                    <a class="link-cabecalho">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="consultoria">
        <div class="consultoria-interno conteudo-interno" style="text-align: left;">
            <p id="tituloCons"><b class="gi" style="color:white">O<b>lá Empres</b>a!</b></p>
            <p id="quem"><b>Quem somos?</b></p>
            <p id="inter"><b class="gi" style="color: white"><b>A ESPM Social é uma agência de voluntariado universitário,
                        além
                        de reprsentar o bravo acadêmico pedagógico de responsabilidade socioambiental dentro da ESPM-SP, é
                        pioneira em Marketing consciente universitário.</b></b>
            </p>
        </div>
    </div>
    
    <h1 id="tituloCons1"><b class="gi" style="color:black">N<b>ossos Número</b>s</b></h1>
    <div class="card-group">
        <div class="col-sm-4" style="padding: 25px;">
          <img class="card-img-top" style="margin-left: 90px;"src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <p class="card-text" style="text-align: center;  font-family: 'Montserrat', sans-serif;  font-size: 18px;"><b>ONG's impactadas</b></p>
          </div>
        </div>
        <div class="col-sm-4" style="padding: 25px;">
          <img class="card-img-top" style="margin-left: 90px;" src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <p class="card-text" style="text-align: center;  font-family: 'Montserrat', sans-serif;  font-size: 18px;"><b>Atuais membros da Social</b></p>
         </div>
        </div>
        <div class="col-sm-4" style="padding: 25px;">
          <img class="card-img-top" style="margin-left: 90px;" src=".../100px180/" alt="Imagem de capa do card" style="text-align: center;">
          <div class="card-body">
            <p class="card-text" style="text-align: center;  font-family: 'Montserrat', sans-serif;  font-size: 18px;"><b>Total de alunos participantes</b></p>
          </div>
        </div>
      </div>
      
      <div class="brands">
        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col">
                    <div class="brands_slider_container">
                        <div class="owl-carousel owl-theme brands_slider">
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_1.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_2.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_4.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_5.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_3.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_6.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_7.jpg" alt=""></div>
                            </div>
                            <div class="owl-item">
                                <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_8.jpg" alt=""></div>
                            </div>
                        </div> <!-- Brands Slider Navigation -->
                        <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
            <h1 id="tituloCons1"><b class="gi" style="color:black; ">C<b>lube de Benefício</b>s</b></h1>
            <div class="container" style=" background-color: #31a9df ;">
                <div class="row" style="align-content: center; padding: 40px 50px;">
                    <div class="col-sm-7" style=" font-family: 'Montserrat', sans-serif; font-size: 18px; padding-top: 30px;"><b class="gi" style="color:black; font-family: 'Montserrat', sans-serif; font-size: 20px;">O <b>quê é</b>?</b>
                        <p style="padding-top: 10px; padding-right: 10px;">O Clube de Benefícios é uma parceria entre a ESPM Social e diversos estabelecimentos. Neste acordo, os estabelecimentos parceiros oferecem descontos e promoções para os membros da ESPM Social em troca da divulgação da marca nas redes sociais e constante consumo por parte dos membros da entidade.</p>
                        </div>
                        <div class="col-sm-4" style=" padding-top: 10px;"><img src="Imagens/LogoEspmSocial.png" height="250" width="250"></div>
                  </div>
        </div>

        <h1 id="tituloCons1"><b class="gi" style="color:black">P<b>arceirias Já Realizada</b>s</b></h1>
    
    <div class="conteudo-interno">
        <div id="carrossel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carrossel" data-slide-to="0" class="active"></li>
                <li data-target="#carrossel" data-slide-to="1"></li>
                <li data-target="#carrossel" data-slide-to="2"></li>
            </ol>
    
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="Imagens/TesteConsultoria.jpeg" />
                    <div class="carousel-caption">
                        Título
                    </div>
                </div>
                <div class="item">
                    <img src="Imagens/TesteConsultoria.jpeg" />
                    <div class="carousel-caption">
                        Título
                    </div>
                </div>
                <div class="item">
                    <img src="Imagens/TesteConsultoria.jpeg" />
                    <div class="carousel-caption">
                        Título
                    </div>
                </div>
            </div>
    
            <!-- Controls -->
            <a class="left carousel-control" href="#carrossel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carrossel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
   
    
    <footer id="fotterTeste"></footer>
    
    <%- contentFor("styles") %>
    <style type="text/css">
        .conteudo-interno {
            max-width: 1200px;
            margin: 0px auto;
        }
    
        .cabecalho {
            text-align: center;
            background-color: white;
            margin: 0px;
        }
    
        .link-cabecalho {
            display: inline-block;
            line-height: 50px;
            color: #838484;
            font-family: 'Montserrat', sans-serif;
        }
    
        #consultoria {
            background-color: #31a9df;
        }
    
        .consultoria-interno {
            padding: 80px 20px;
        }
    
        @media screen and (min-width: 768px) {
            .consultoria-interno {
                padding: 80px 200px;
            }
        }
    
        #tituloCons {
            text-align: justify;
            font-size: 25px;
            color: white;
            top: 200px;
        }
    
        #tituloCons1 {
            text-align: center;
            font-size: 25px;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        .brands {
     width: 100%;
     padding-top: 90px;
     padding-bottom: 90px
 }

 .brands_slider_container {
     height: 130px;
     border: solid 1px #e8e8e8;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
     padding-left: 97px;
     padding-right: 97px
 }

 .brands_slider {
     height: 100%;
     margin-top: 50px
 }

 .brands_item {
     height: 100%
 }

 .brands_item img {
     max-width: 100%
 }

 .brands_nav {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     padding: 5px;
     cursor: pointer
 }

 .brands_nav i {
     color: #e5e5e5;
     -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
     -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
     transition: all 200ms ease
 }

 .brands_nav:hover i {
     color: #676767
 }

 .brands_prev {
     left: 40px
 }

 .brands_next {
     right: 40px
 }
        #quem {
            text-align: justify;
            font-size: 20px;
            color: black;
            font-family: 'Montserrat', sans-serif;
        }
    
        #inter {
           text-align:left;
            font-size: 18px;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
    
        .dropup {
            position: fixed;
            display: inline-block;
            right: 5%;
            top: 11%;
        }
    
        .dropbtn {
            color: black;
            font-size: 25px;
            border: none;
            color: #838484;
            font-family: 'Poppins', sans-serif;
            position: absolute;
            right: 895px;
            top: 25px;
        }
    
        .dropup-content {
            display: none;
            position: fixed;
            background-color: #aed2fa;
            bottom: 68%;
            z-index: 1;
            font-family: ;
        }
    
        .dropup-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    
        .dropup-content a:hover {
            background-color: #EDEFF5
        }
    
        .dropup:hover .dropup-content {
            display: block;
        }
    
        .dropup:hover .dropbtn {
            background-color: #EDEFF5;
        }
    
        .mySlides {
            display: none
        }
    
        img {
            vertical-align: middle;
        }
    
        /* Slideshow container */
        .slideshow-container {
            width: 704px;
            height: 330px;
            top: 500px;
            left: 300px;
            position: absolute;
        }
    
        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
    
        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    
        /* Caption text */
        .text {
            color: black;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }
    
        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
    
    
        .active,
        .dot:hover {
            background-color: #717171;
        }
    
        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
    
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
    
            to {
                opacity: 1
            }
        }
    
        @keyframes fade {
            from {
                opacity: .4
            }
    
            to {
                opacity: 1
            }
        }
    
        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
    
            .prev,
            .next,
            .text {
                font-size: 11px
            }
        }
    
        #fotterTeste {
            background-color: #31a9df;
            height: 50px;
        }
    
        .gi {
            display: inline-block;
        }
    
        .gi>b {
            display: inline-block;
            padding-bottom: 2.5px;
            border-bottom-width: 2.5px;
            border-bottom-style: solid;
        }
    
        .gi>b.w {
            border-bottom-color: #ffffff;
        }
    
        .gi>b.b {
            border-bottom-color: #303030;
        }
    
        .gi>b.g {
            border-bottom-color: #bdbdbd;
        }
    </style>
    
    <%- contentFor("scripts") %>
    <script type="text/javascript">
        $("#carrossel").carousel();
        $(document).ready(function(){

if($('.brands_slider').length)
{
var brandsSlider = $('.brands_slider');

brandsSlider.owlCarousel(
{
loop:true,
autoplay:true,
autoplayTimeout:5000,
nav:false,
dots:false,
autoWidth:true,
items:8,
margin:42
});

if($('.brands_prev').length)
{
var prev = $('.brands_prev');
prev.on('click', function()
{
brandsSlider.trigger('prev.owl.carousel');
});
}

if($('.brands_next').length)
{
var next = $('.brands_next');
next.on('click', function()
{
brandsSlider.trigger('next.owl.carousel');
});
}
}


});
    </script>
    