<div style="max-width: 400px; margin: 0 auto; padding: 10% 15px;">
	<style type="text/css">
		.centralizar{
			text-align: center;
		}	
		.imagemmargem{
				margin: -30px -75px 0;
				padding: 50px;
			}
	</style>	
	<div class="panel panel-default no-margin-bottom">
		<div class="panel-body">
			<div class="col-xs-space-bottom">
				<img alt="Museu da Pessoa" src="<%- root %>/imagens/espmsocial1.png" style="max-width: 100%;">
			</div>
			<h1>Bem vindo a ESPM Social!</h1>
			<a href="<%- root %>/login">Login</a>
		</div>
	</div>
</div>
