<form method="post" action="<%- root %>/login">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- Bootstrap 4 -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!-- Font Awesome 4.7 -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<!-- jQuery Validate 1.19 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/localization/messages_pt_BR.min.js"></script>
	<!-- jQuery UI 1.12 -->
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Velocity.js 1.5 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.ui.min.js"></script>
	<!-- React 16 -->
	<script type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
		<title>Título da Página</title>
		<style type="text/css">
			.centralizar{
				text-align: center;
			}	
			.cadastroBotao{
				text-align: center;
				float:bottom;
   				margin-bottom:15px;
				
			}
			.imagemmargem{
				margin: 50px 0 0;
				padding: 50px;
			}
			.input{
			   width: 390px; 
			   height: 40px;
			   padding: 8px 10px;
			   margin: 10px;
			   border: 2.5px solid #00ace3;
			   caret-color: #00ace3;
			   font-size: 18px;
			   font-family: Quicksand;
			   
			}
			input::placeholder{
				font-size: 18px;
				opacity: 0.5;
				font-family: Quicksand;
			}
			input:focus{
				font-size: 18px;
				padding: 8px 10px;
				width: 390px; 
				height: 40px;
				outline: none;
				font-family: Quicksand;
			}
			
			.cinput, .cinput:focus{
			   width: 240px; 
			   height: 40px;
			   margin: 15px;
			   border: 2.5px solid #00ace3;
			   font-size: 22px;
			   line-height: 22px;
			   color: white;
			   background-color:#00ace3;
			   font-weight: bold;
			   letter-spacing: 1px;
			   font-family: Quicksand;
			}
					
		</style>
				
 	</head>
<body>	

	<!-- <div style="max-width: 400px; margin: 0 auto; padding: 10% 15px;"> -->
		<!-- <div class="panel panel-default no-margin-bottom"> -->
			<div class="panel-body">

				<div class= "centralizar">
					<div class= "imagemmargem">
					<img width="420" src = "imagens/espmsocial1.png">
					</div>
				</div>
				
				<div class="centralizar">
					<input name="login" type="text" id="login" placeholder="Login" class="input" spellcheck="false" />
				</div>
				<div class="centralizar">
					<input name="senha" type="password" id="senha" placeholder="Senha" class="input" />
				</div>
				<% if (mensagem) { %>
				<div class="alert alert-danger"><%=mensagem %></div>
				<% } %>
				<div class = "centralizar" >
				<input type="submit" value="ENTRAR" class="cinput" />
				</div>	
			</div>
		<!-- </div> -->
	<!-- </div> -->



</form>
